<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="nor.cross.cyg"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
    	<activity android:name="SplashActivity"
                  android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
<activity android:name=".Cyg_Login" android:theme="@android:style/Theme.NoTitleBar"></activity>
<activity android:name="Terms" android:theme="@style/MyTheme"></activity>
<activity android:name="Northern_Cross" android:theme="@android:style/Theme.NoTitleBar"></activity>
<activity android:name="Sign_Up" android:theme="@android:style/Theme.NoTitleBar"></activity>
<activity android:name="Timeline" android:theme="@android:style/Theme.NoTitleBar"></activity>
<activity android:name="Profile" android:theme="@android:style/Theme.NoTitleBar"></activity>
<activity android:name="Long_click_menu" android:theme="@style/MyTheme"></activity>
<activity android:name="NewPost" android:theme="@style/MyTheme"></activity>
<activity android:name="NewSMS" android:theme="@style/MyTheme"></activity>
<activity android:name="Search" android:theme="@android:style/Theme.NoTitleBar"></activity>
<activity android:name="ReplyPost" android:theme="@style/MyTheme"></activity>
<activity android:name="Delete_Post" android:theme="@style/MyTheme"></activity>
<activity android:name="SplashMoreActivity"  android:theme="@android:style/Theme.NoTitleBar"></activity>
<activity android:name="Profile_button"  android:theme="@android:style/Theme.NoTitleBar"></activity>
</application>


<uses-permission android:name="android.permission.INTERNET"></uses-permission>
<uses-permission android:name="android.permission.RECEIVE_SMS"></uses-permission>
<uses-permission android:name="android.permission.SEND_SMS"></uses-permission>
</manifest> 